body {
  background-color: black;
  color: rgb(220, 220, 220);
  padding: 0px 100px;
}
h1 {
  color: rgb(240, 240, 240); font-family:monospace; text-align: center; font-size: 2.5rem;
}
p,ul,ol {
  color: rgb(240, 240, 240); font-family:arial; font-size: 20px; letter-spacing: 0.05em;
}
table {
  color: rgb(220, 220, 220); font-family:arial; font-size: 0.9em; letter-spacing: 0.05em;
}
h3 {
  color: white; bottom:0; font-family:monospace; width: 100%; text-align: center; font-size: 1.5rem;
}
a {
  color: #00ff41;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.indexlink {
  color: rgb(240, 240, 240); font-family:arial; font-size: 20px; letter-spacing: 0.05em; padding: 10px 0px;
}
img {
    display: block;
    max-height: 100%;
    max-width: 80%;
    margin: auto;
}
.ulink:hover {
  text-decoration: none;
}
.grid-fig {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: end;
  /* gap: 10px 10px;
  
  overflow-y:hidden; */
}
.grid-fig > div {
  width: 300px;
}
.sub-fig > p {
  font-size: 1rem;
  text-align: center;
}
.page-title {
  font-size: 2rem;
  text-align: left;
  font-weight: 500;
}
h2 {
  font-family: arial;
  font-size: 1.8rem;
}
.footnote {
  text-align: center;
}
@media screen and (max-width: 800px) {
  
  img {
    max-width: 100%;
}
}
@media screen and (max-width: 600px) {
  body {
    padding: 0px 30px
  }
  .page-title {
    font-size: 1.5rem;
  }
}